@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

img {
    display: block;
    max-width: 59%;
}

li {
    list-style: none;
}

body {
    background: url(../img/background.jpg) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;  
    height: 100vh;
    color: #aeaeae;
}
.title {
    font-size: 36px;
    font-weight: normal;
  }

.box {
    padding: 4rem;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    text-align: center;
    margin-top: 6rem;
    margin-left: 160px;
    justify-items: center;
    width: 380px;
    height: 425px;
}

.profile {
    margin-top: 4rem;
}

.profile-pic {
    border-radius: 10%;
    margin: 0 auto 2rem auto;
  }
  

h3 {
    font-size: 23px;
}

p {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    
  }


.redes-sociais li {
    margin-right: 1rem

}

.Portifolio {
    max-width: 886px;
    box-sizing: border-box;
    margin-top: 6rem;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    text-align: center;
}

.Portifolio ul {
    margin-top: 2rem;
}

.Portifolio li {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

.Portifolio li img {
    position: relative;
    left: 155px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 1px 80px;
    border: none;
}
